 
html, body {

  height: 100%;
  width: 100%;
}

  #hero {

  background: url('DNA_955_1280.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.text {

width: 100%;
background-color: white;

}

p {
  text-align: center;
  text-align: justify;
  font-size: 24px;
}

h4 {

  width: 100%;
  text-align: center;
  text-align: justify;
  padding: 40px;
  font-size: 20px;
}



    


.custom-navigation {

  height: 50px;
  line-height: px;
  width: 100%;
  background: black;


  
}


.custom-navigation #logo {
  color: #fff;
  padding-left: 25px;
    height: 50px;
    line-height: 50px;
}

  /*
.custom-navigation #links #logo {
  display: inline-block;
}
  */
.custom-navigation #links {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
}

.custom-navigation #links > li {
  display: inline-block;
  color: #fff;
  padding-right: 15px;
}


.custom-navigation #links > li > a {
  /*display: inline-block;*/
  color: #fff;
  padding-right: 15px;
  text-decoration: none;
}
