h1 
{
 font-size: 40px;
 color:black;
 text-align: center;
 
}


bod {background: #E0FFFF;}

*{
	margin: 0;
	padding: 0;
}




nav {    

background-color: #4da6f;
height: 40px;
width: 1130px;
margin: auto;
margin-top: -10px;

}

nav ul li {
	list-style-type: none;
	width: 160px;
	float: left;
	padding: 1px;	
}



li a {
	text-decoration: none !important;
	color: white;
	display: block;
	text-align: center;
	line-height: 40px;
    font-size: 18px;
	border-right: 1px solid;
	border-left: 1px solid;
	background-color: #4da6ff;
	border-radius: 5px;
}


a:visited {color: white;
text-decoration: none !important;}

 a:hover
{
    background-color: #FF2400;
    color: white;
    text-decoration: none !important;
}



/*p { 
	text-align: center;
	border: 5px solid;
	padding-top: 80px;
	margin: 50px;
	height: 200px;
    width: 90%;
    box-sizing: border-box;
    font-size: 24px;
    background-color: #4da6ff;
   

}

*/


h2 {
	text-align: center;
}
